@import url('https://fonts.googleapis.com/css?family=Merriweather:300|Oswald:700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto:900&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto:100,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
}

/* <=== NAV INFO HERE ===>*/
 nav {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
	z-index: 999;
}

nav a:link{
    padding: 20px;
    flex-grow: 1;
    color: deepskyblue;
    background: rgba(244 , 244, 244, .244);
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vmax;
    transition: all 0.3s ;
}

nav a:visited{
    color: darkblue;
}

nav a:hover{
    color: white;
    background: black;
}

/*    ==BG VIDEO ==  */
    
    #bgvid {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100vh;
    width: auto;
    height: auto;
    z-index: -1;

    }
    
    header {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    } 
    
    hgroup {
        
        text-align: center;
        color: #fff;
    }
    
   hgroup h1 {
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 10vmax;
       line-height:11.5vmax;
       text-shadow: 0px 0px 10px rgba(0,0,0,0);
    }

h1 span2 {
    color: deepskyblue;
}
    hgroup h2 {
        font-family: 'Roboto', sans-serif;
        font-weight: 180;
        font-size: 2vmax;
    
}
.intro_div {
    text-align: center;
	position: relative;
    animation: animateleft 1s;
	padding: 16px;
	display: block;
}

@keyframes animateleft{
0% {
    left: -300px;
    opacity: 0;
	}
100% {
    left: 0;
    opacity: 1;
	}
} 



.home {
    width:100%;
    min-height: 100vh;
    height:auto;
    background-color: white;
    background-size: cover;
    border: 20px solid white;
    padding:20px;
}



.intro{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 40px;
  
}    

.row{
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
  padding-top: 60px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
	
  }
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover
{
        box-shadow:
                1px 1px #53a7ea,
                2px 2px #53a7ea,
                3px 3px #53a7ea;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}

.container {
  padding: 0 16px;
}

.container p {
	padding-bottom: 20px;
}
/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: deepskyblue;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}



/* <<<PAGE 2>>> */

/* <<<PROJECTS>>> */

.main {
  max-width: auto; 
  margin: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: 'Merriweather', serif;
	
}

.main h1 {
  font-size: 50px;
  word-break: break-all;
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding: 25px;
}
.main p1 {
	font-size: 20px;
	display: flex;
    justify-content: center;
	padding-bottom: 75px;
}
.main p {
	font-size: 20px;

	padding-bottom: 75px;
}

.row2 {
  margin: 8px -16px;
  background-color: #f1f1f1;
  padding-top: 500px;
}


.row2,
.row2 > .column2 {
  padding: 8px;
}


.column2 {
  float: left;
  width: 25%;
}

.row2:after {
  content: "";
  display: table;
  clear: both;
}


.content2 {
  background-color: white;
  padding: 10px;
  opacity: 0.5;
}

.content2:hover {
 opacity:1;
}

.content2 h3{
	color: deepskyblue;
}

@media screen and (max-width: 900px) {
  .column2 {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column2 {
    width: 100%;
  }
}

/* <<<PRICE>>> */


.pricing{
	min-height: 80vh;
}
.pricing h1 {
  font-size: 50px;
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding: 25px;
}
.columns3 {
  float: left;
  width: 33.3%;
  padding: 8px;
}

.price3 {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price3:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price3:hover .header3{
	background-color: black;
}

.price3 .header3 {
  background-color: lightgrey;
  color: white;
  font-size: 25px;
}


.price3 li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price3 .grey {
  background-color: #eee;
  font-size: 20px;
}

.button3 {
  background-color: deepskyblue;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

.button3:hover{
	border-width: medium;
}

@media only screen and (max-width: 600px) {
  .columns3 {
    width: 100%;
  }
}



/*<<<<PAGE 3>>>>*/
.map {
	padding-top: 80px;
	display: flex;
	justify-content: center;
}
.contact h1{
    font-family: Arial;
	font-size: 50px;
    word-break: break-all;
	color: black;
	padding-top: 80px;
	background-color: #f2f2f2;
	width: auto;
	display: flex;
	justify-content: center;

}


input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}


input[type=submit] {
  background-color: grey;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: deepskyblue;
}


.container4 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  
}
